body{
    background-color: #f3f1e9;
}
.page-fade{
    transition: 1s ease-in-out;
}
.page-fade-enter {
    opacity: 0;
}

.page-fade-enter-active {
  opacity: 1;
  transition: 1s ease-in;
}

.page-fade-exit {
  opacity: 1;
  transition: 1s ease-out;
}

.page-fade-exit-active {
  opacity: 0;
  transition:  1s ease-out;
}
  

/* HEADER*/

.contenedor-header{
    width: 100vw;
    height: 100vh;
    background-color: #111;
}
.header{
    width: 100vw;
    height: 5rem;
    position: fixed;
    z-index: 1000;
    top: 0;
    transition: top 0.5s;
}
.bg4{
    width: 100%;
    height: 100%;
}


@media(max-width:768px){
    .col-6{
        display: grid;
        width: 100%;
        text-align: center;
    }
}

.cta {
    border: none;
    background: none;
}

.cta span {
  padding-bottom: 4px;
  letter-spacing: -1px;
  font-size: 20px;
  padding-right: 10px;
  text-transform: uppercase;
  font-family: 'Abel', sans-serif ;
}
@media(max-width:768px){
    .cta span{
        letter-spacing: 1px;
        font-size: 10px;
    }
}

.hover-underline-animation {
  position: relative;
  color: rgb(255, 255, 255);
  padding-bottom: 10px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 80%;
  transform: scaleX(0);
  height: 4px;
  bottom: -5px;
  left: 4px;
  background-color: #e4943a;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

@media(max-width:768px){
    .hover-underline-animation:after{
        left: 1px;
    }
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.o-row{
    display: flex;
    flex-wrap: wrap;
}
.-center{
    justify-content: center;
}
.-bottom{
    align-items: flex-end;
    margin-right: 5rem;
}
.o-col{
    display: flex;
    flex-direction: column;
    width: 100%;
}



/*HEADER 2*/

.navegacion3{
    width: 100%;
    height: 5rem;
}

.botonConozcanos{
    margin-top: 9rem;
    color: #dbd8c7;
}





/* SECCION 1*/


.logo{
    opacity: .1;
    
}
.contenedor-logo{
    width: 11rem;
}

@media(max-width:768px){
    .contenedor-logo{
        width: 6rem;
        padding: 0;
        margin-left: 40rem;
    }
}

@media(max-width:425px){
    .contenedor-logo{
        margin-right: 9.5rem;
    }
}

.contenido-texto{
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

.contenedor-licor{
    width: 100%;
    height: 5rem;
    padding-bottom: 30rem;
}


.amrit{
    font-size: 13rem;
    letter-spacing: 5rem;
    padding-top: 1rem;
    font-family: 'Anton';
    color: rgb(247, 236, 201);
    opacity: 75%;
}

@media(max-width:768px){
    .amrit{
        font-size: 7rem;
        margin-top: 0;
        letter-spacing: 3rem;
        padding-bottom: 7rem;
    }
}

@media(max-width:425px){
    .amrit{
        font-size: 3rem;
        margin-left: 2rem;
        
    }
}

.parrafoLicores{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    margin-top: -10rem;
    position: absolute;
    font-family: 'Abel';
    font-size: 3rem;
    color: #dbd8c7;
    opacity: 75%;
    padding-right: 3rem;
}
@media(max-width:768px){
    .parrafoLicores{
        font-size: 2rem;
        padding-right: 1rem;
    }
}

@media(max-width:425px){
    .parrafoLicores{
        font-size: 1rem;
        padding-right: 0;
        margin-top: -6.5rem;
    }
}

.contenedor-botones{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.botones{
    margin-top: 10rem;
}


@media(max-width:768px){
    .botones{
        margin-top: 3rem;
    }
}

.btn-licores{
    width: 20rem;
    height: 3rem;
    background-color: #de7c00;
    color: black;
    font-weight: 700;
    font-family: 'Abel';
    transition: .8s;
}

.btn-licores2{
    width: 10rem;
    height: 3rem;
    background-color: #de7c00;
    color: black;
    font-weight: 700;
    font-family: 'Abel';
    transition: .5s;
}


.btn-licores:hover{
    background-color: #de7c00;
    color: rgb(0, 0, 0);
    transform: scale(1.07); 
    font-weight: bolder;
}
.btn-licores2:hover{
    background-color: #de7c00;
    color: rgb(0, 0, 0);
    transform: scale(1.07);
    transition: transform .5s ease-in-out;
    font-weight: bolder;
}

@media(max-width:425px){
    .btn-licores{
        height: 2rem;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .btn-licores2{
        height: 2rem;
        margin-left: 7.5rem;
    }
}

.btn-nosotros{
    background-color: #de7c00;
    color: black;
    font-weight: 700;
    font-family: 'Abel';
}
.btn-nosotros:hover{
    background-color: #de7c00;
    color: rgb(0, 0, 0);
    transform: scale(1.07);
    transition: transform .4s ease;
    font-weight: bolder;
}

.texto{
    font-family: 'Abel';
    font-weight: 600;
}

@media(max-width:768px){
    .texto{
        display: flex;
        width: 35rem;
    }
}

@media(max-width:425px){
    .texto{
        display:flex;
        flex-direction: column;
        width: auto;
    }
}



/* SECCION 2*/

.card{
    height: 35rem;
    overflow: hidden;
}

@media(max-width:768px){
    .card{
        height: 15rem;
    }
}

@media(max-width:425px){
    .card{
        height: 15rem;
    }
}
.tarjeta1{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    transition: .4s ease-in-out;
}

.tarjeta1:hover{
    transform: scale(1.050);
    filter:grayscale(50%);
}


/* BOTONES*/

button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    font-family: 'Abel';
    text-transform: uppercase;
}

button {
  --primary-color: #111;
  --hovered-color: #ce7420;
  position: relative;
  display: flex;
  font-weight: 200;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
}

button p {
  margin: 0;
  position: relative;
  color: var(--primary-color);
  transition: .7s;
}


button::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

button:hover::after {
  width: 100%;
}

button:hover p::before {
  width: 100%;
}

button:hover svg {
  transform: translateX(4px);
  color: var(--hovered-color)
}

button svg {
  color: var(--primary-color);
  transition: 0.3s;
  position: relative;
  width: 1.3rem;
  transition-delay: 0.1s;
}

.botonEnlace{
    text-decoration: none;
}




/* SECCION 3*/

.contenedorImagen{
    width: 100vw;
    height: 35rem;
    background-color: rgb(29, 29, 29);
}

.contenedorTextoLicor{
    font-family: 'Abel';
    color: #ce7420;
    font-size: 5rem;
    margin-top: 2rem;
}
.contenedorImagenAmrit{
    width: 45rem;
    height: 22rem;
}

.imagenLogotipoAmrit{
    width: 100%;
    height: 100%;
}

@media(max-width:425px){
    .contenedorImagenAmrit{
        width: 15rem;
        height: 7rem;
    }
    .contenedorImagen{
        height: 15rem;
    }
    .contenedorTextoLicor{
        font-size: 2.5rem;
        padding-top: 1rem;
    }
}

@media(max-width:768px){
    .contenedorImagenAmrit{
        width: 25rem;
        height: 15rem;
    }
    .contenedorImagen{
        height: 22rem;
    }
    .contenedorTextoLicor{
        font-size: 2.5rem;
    }
}


/*FOOTER*/

.footer{
    max-height: 30rem;
}


.amrit2{
    font-size: 13rem;
    letter-spacing: 5rem;
    font-family: 'Anton';
    color:#de7c00;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-right: 17rem;

}

@media(max-width:768px){
    .amrit2{
        font-size: 9rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 3rem;
        letter-spacing: 3rem;
    }
}

@media(max-width:425px){
    .amrit2{
        font-size: 6rem;
        letter-spacing: 1rem;
        margin: 0;
    }
}

@media(max-width:1024px){
    .amrit2{
        margin-right: 0;
    }
}

.cta2 {
    border: none;
    background: none;
}

.cta2 span {
  padding-bottom: 4px;
  letter-spacing: -1px;
  font-size: 20px;
  padding-right: 10px;
  text-transform: uppercase;
  font-family: 'Abel', sans-serif ;
}
@media(max-width:768px){
    .cta2 span{
        letter-spacing: 1px;
        font-size: 13px;
    }
}

.hover-underline-animation2 {
  position: relative;
  color:#111;
  padding-bottom: 10px;
}

.hover-underline-animation2:after {
  content: "";
  position: absolute;
  width: 80%;
  transform: scaleX(0);
  height: 4px;
  bottom: -5px;
  left: 4px;
  background-color: #de7c00;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

@media(max-width:768px){
    .hover-underline-animation2:after{
        left: 1px;
    }
}

.cta2:hover .hover-underline-animation2:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.o-row{
    display: flex;
    flex-wrap: wrap;
}
.-center{
    justify-content: center;
}
.-bottom{
    align-items: flex-end;
    margin-right: 5rem;
}
.o-col{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.iconos{
    width: 20rem;
    height: 10rem;
}

.iconoFacebook,.iconoInstagram,.iconoYoutube{
    font-size: 3.8rem;
    color: rgb(199, 199, 198);
    transition: .6s;
}

@media(max-width:768px){
    .iconoFacebook,.iconoInstagram,.iconoYoutube{
        font-size: 3rem;
    }  
}

@media(max-width:425px){
    .iconoFacebook,.iconoInstagram,.iconoYoutube{
        font-size: 2rem;
    }
}

.localidad{
    font-family: 'Abel';
    display: flex;
    justify-content: center;
}

.iconoFacebook:hover{
    transform: scale(1.1);
    cursor: pointer;
    color: rgb(48, 88, 175);
}
.iconoInstagram:hover{
    transform: scale(1.1);
    cursor: pointer;
    color: rgb(209, 57, 146);
}
.iconoYoutube:hover{
    transform: scale(1.1);
    cursor: pointer;
    color: rgb(182, 36, 36);
}






/* PAGINA PRODUCTOS*/

.productos{
    font-family: 'Anton';
    letter-spacing: 10px;
    margin-top: 9rem !important;
}

.productos-licores{
    font-family: 'Abel';

}

.contenedorBotones{
    gap: 4rem;
    margin-bottom: 20rem;
}

@media(max-width:768px){
    .contenedorBotones{
        display: grid;
        gap: 2rem;
    }
}

.btn-outline-secondary:hover{
    background-color: #ce7420 !important;
}

.bg-color-enter {
    opacity: 0;
  }
  
.bg-color-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.bg-color-exit {
  opacity: 1;
}

.bg-color-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
  

/*LICOR 1*/

.base1,.licor1{
    width: 40rem;
    transition: .5s;
}

.limonchello{
    font-family: 'Holtwood One SC';
}
.descripcionTexto{
    font-family: 'Abel';
}
.licor1:hover{
    transform: scale(1.050);
    transition: .5s ease-in-out;
}




/*LICOR 2*/
.cafe{
    font-family: 'Sancreek';
    letter-spacing: 15px;
}

/*LICOR 3*/
.mantecol{
    font-family: 'Sacramento';
    
}



/*PAGINA NOSOTROS*/


.nosotros-texto-encabezado{
    font-family:'Anton';
    letter-spacing: 15px;
    padding-top: 8rem;
    color: rgb(37, 37, 37);   
}

.nosotrosTexto{
    font-family: 'Abel';
}

.textoNaturaleza{
    font-family: 'Anton';
    letter-spacing: 5px;
    margin-top: 9rem;
    color: rgb(65, 65, 65);
}

@media(min-width:1024px){
    .textoNaturaleza{
        font-size: 8rem;
    }
}

@media(max-width:768px){
    .textoNaturaleza{
        font-size: 4rem;
        margin-top: 5rem;
    }
}

@media(max-width:425px){
    .textoNaturaleza{
        font-size: 2rem;
        margin-top: 2rem;
    }
}

.parrafoNosotros{
    font-family: 'Abel';
    font-size: 1.4rem;
}

.textoEquipo{
    font-family: 'Anton';
    font-size: 4rem;
    letter-spacing: 5px;
    margin-top: 15rem;
}

@media(max-width:425px){
    .textoEquipo{
        font-size: 1.2rem;
        margin-top: 5rem;
    }
}

.textoPerfil{
    font-family: 'Abel';
    font-size: 2.3rem;
    letter-spacing: 4px;
    color: #ce7420;
}

@media(max-width:425px){
    .textoPerfil{
        font-size: 1.1rem;
    }
}

.textoCargo{
    font-family: 'Abel';
    font-size: 1.1rem;
}

@media(max-width:425px){
    .textoCargo{
        font-size: .7rem;
    }
}






/* PAGINA GALERIA*/

.textoGaleria{
    font-size: 7rem;
    font-family: 'Anton';
    letter-spacing: 10px;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

@media(max-width:768px){
    .textoGaleria{
        font-size: 3rem;
        margin-top: 7rem;
        margin-bottom: 5rem;
    }
}

.galeria{
    column-count: 3;
    column-width: 33%;
    padding: 5rem 1.2rem;
}

.galeria .imagenes{
    transition: all 350ms ease;
    cursor: default;
    margin-bottom: 1.2rem;
    filter: grayscale(100%);
}

.galeria .imagenes:hover{
    filter: grayscale(0%);
}

@media(max-width:768px){
    .galeria{
        column-count: 3;
        column-width: 33%;
        padding: 1rem 1.2rem;
    }
}
@media(max-width:425px){
    .galeria{
        column-count: 1;
        column-width: 100%;
    }
}



/*PAGINA CONTACTO*/

.textoContacto{
    font-family: 'Anton';
    letter-spacing: 10px;
    font-size: 8rem;
    margin: 7rem auto 2rem;
}

@media(max-width:768px){
    .textoContacto{
        font-size: 6rem;
        margin: 6rem auto;
    }
}

@media(max-width:425px){
    .textoContacto{
        font-size: 2rem;
        margin-top: 7rem;
    }
}

.parrafoContacto{
    font-family: 'Abel';
    font-size: 2rem;
}
@media(max-width:768px){
    .parrafoContacto{
        font-size: 1.1rem;
    }
}
.locacion{
    font-family: 'Abel';
    font-size: 1.5rem;
}

.textoFormulario{
    font-family: 'Anton';
    font-size: 4rem;
    letter-spacing: 5px;
    margin-bottom: 5rem;
}
@media(max-width:768px){
    .textoFormulario{
        font-size: 2rem;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
}

.bg-formulario{
    background-color: #dbd8c7;
    font-family: 'Abel';
    font-weight: bold;
}


.formularioJpg{
    width: 100%;
    height: 100%;
}

.form-control{
    background-color:#dbd8c7 !important;
}
.form-control:hover{
    border-color: #ce7420 !important;
}

.contenedorMapa{
    width: 100vw;
    height: 60rem;
    overflow: hidden;
}
.imagenMapa{
    width: 100%;
    height: 100%;
    transition: .5s ease-in-out;
    transform: scale(1.025);
}

.imagenMapa:hover{
    transform: scale(1.050);
    cursor: pointer;
}

@media(max-width:768px){
    .contenedorMapa{
        height: 40rem;
    }
}

@media(max-width:425px){
    .contenedorMapa{
        height: 20rem;
    }
}



/*PAGINA INFORMACION*/


/*BOTON 'DETALLE'*/

.enlaceDetalles {
    color: rgb(48, 48, 48);
    text-decoration: none;
    font-size: 25px;
    border: none;
    background: none;
    font-family: 'Abel', sans-serif;
}
.enlaceDetalles:hover{
    cursor: pointer;
    color: #ce7420;
}

.enlaceDetalles::before {
  margin-left: auto;
}

.enlaceDetalles::after, .enlaceDetalles::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #292929;
  display: block;
  transition: 0.5s;
}

.enlaceDetalles:hover::after, .enlaceDetalles:hover::before {
  width: 100%;
}

/*PAGINAS DETALLES LICORES*/

.contenedorLimoncello{
    margin-top: 15rem;
}
.tituloInfo{
    font-family: 'Abel';
    letter-spacing: 7px;
    font-size: 10rem;
    color: #ce7420;
}
@media(max-width:768px){
    .tituloInfo{
        font-size: 5rem;
    }
    .card-info{
        margin-top: 0;
    }
}
@media(max-width:425px){
    .tituloInfo{
        font-size: 3rem;
    }
    .card-info{
        margin-top: 0;
    }
}

.tituloTabla{
    font-family: 'Anton';
    color: #444444;
}
.descripcionTabla{
    font-family: 'Abel';
}

.card-info{
    margin-top: 10rem;
}


